.formContainer>h2 {
    text-align: center;
}

.formContainer {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
    width: 350px;
    height: 80vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);

}

.form {
    display: flex;
    flex-direction: column;

}

.input {
    margin: 10px;
    padding: 10px 12px;
    border-radius: 5px;
    border: 0.1px solid #808080a3;
    font-weight: bold;
    outline: none;

}

.button {
    margin: 10px;
    padding: 10px 12px;
    background-color: #000000df;
    border-radius: 20px;
    color: #f5f0f0;
    font-weight: bold;
    border: none;
    font-size: 14px;
    cursor: pointer;


}

.mapConatiner {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;

}